Hello,
	Thank you for contacting us! If you submitted a question or beta feedback, we will get
back to you as soon as the we can. Please be patient for our responce to be delivered.  The
mailman only comes around once a day, and there are a lot of stamps to lick! Thank you, and
have a wonderful day.

Sincerly,
Skloop Admin
-The Hyperstream Club
