/* Global styles */

/* START:notice */
#notice {
  width: 500;
  border: 2px solid purple;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
/* END:notice */

/* START flash :error */
#error { 
  width 500;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #F0A8A8;
  font: bold smaller sans-serif;

} 

/* END:error */

h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
        z-index:4;
        width:auto;
}

/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: #EEFFEE;
  display: inline;
}

.fieldWithErrors * {
  background-color: red;
}

#errorExplanation {
  width: 350px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
 
}
