<div id="index">
	<div id="hpf"><h2>About Skloop</h2>
	<p>Skloop is a fast, innovative way to deliver important information to students in a more efficient way.
	 Using the abilities of <a href="http://twitter.com/">Twitter</a> to provide a near instantaneous
	 messaging system, Skloop delivers announcements, news, and the latest information to students, and teachers allowing people to receive messages quicker and easier than ever.<br><br>
	 Skloop's systems is launched by Hyperstream Technology Club in partnership with GeoLearning and On-Point Strategies. Skloop will allow the students and teachers of Waukee High School access to the system provided they have a Waukee student ID or ASOP ID.</p></div>
</div></div>
