<div id="index">
	<div id="hpsix"><h2>Help!!</h2></a><br><br>
	<table>
					<tr><td>Need some assistance?&nbsp;&nbsp;Maybe we can help</center>
				<ul>
 					<li><a href="#skloop">How was Skloop created?</a></li>
					<li><a href="#signup">How do I sign up?</a></li>
					<li><a href="#signedup">I've signed up, now what?</a></li>
					<li><a href="#cost">Is there any cost to receiving these texts?</a></li>
					<li><a href="#sendtexts">Can I send texts to Skloop?</a></li>
					<li><a href="#stoptexts">I want to stop receiving texts.  What do I need to do?</a></li>
					<li><a href="#improve">How can I help improve Skloop?</a></li>
					<li><a href="#other">I have additional questions...</a></li>
				</ul>
					<dt><a name="skloop">How was Skloop created?</a></dt>
					<dd>
						<font style="font-weight:normal">Skloop is a project created by the Waukee Hyperstream Technology Club at Waukee High School. Under the guidance of GeoLearning, an iowa based technology company, Waukee high school students created and designed Skloop for use by students and teachers. </font>
					</dd><br />
					<dt><a name="signup">How do I sign up?</a></dt>
					<dd>
						<font style="font-weight:normal">To sign up you must fill all the fields.
						<ul>
				
						<li><strong>Waukee Student ID</strong> - Your student username (Lastname + student id number). This is to ensure that you are a student of the Waukee community public school district.</li>
						<li><strong>First Name</strong> - Your full first name</li>
						<li><strong>Last Name</strong> - your last name.</li>
						<li><strong>E-mail Address</strong> - your e-mail address.</li>
						
						</ul>
						You will also need to have a twitter account prior to logging into Skloop. If you do not have a twtter account you can create <a href=/"http://twitter.com/signup"/>one</a>. Its easy and free to sign up! </font><br><a href="#top">>> Back to top</a>
					</dd>
					<br />
					<dt><a name="signedup">I've signed up, now what?</a></dt>
					<dd>
					<font style="font-weight:normal"> Make sure you have setup your mobile device to receive messages from twitter
					<br />
					<br />
					To set up your Twitter account to receive messages from Skloop, follow these steps:

					<ul><br />
						<li>Text <b>START</b> to <b>40404</b></li>
						<li>Reply to twitter's text with your username</li>
						<li>Twitter will once again send a reply text asking for you password, reply with your password.</li>
						<li>Thats it! Once you join a group you will start to receive any future annoucements sent from that group on your mobile device.</li>
					When you join a group you will receieve all updates from that group on your mobile device. Its that easy!</ul>
					</font>
					<a href="#top">>> Back to top</a>					
					</dd>
					<br />
					<dt><a name="cost">Is there any cost to receiving these texts?</a></dt>
					<dd>
					<font style="font-weight:normal">Twitter does not charge for sending and receiving texts but your cell phone carrier's rates do apply.
					<br><a href="#top">>> Back to top</a>

					</dd>
					<br /><br />
					<dt><b><a name="sendtexts">Can I send texts to Skloop?</a></b></dt>
					<dd>
					<font style="font-weight:normal">No, not at this time.</font><br><a href="#top">>> Back to top</a>

					</dd>
					<br /><br />
					<dt><a name="stoptexts"><b>I want to stop receiving texts. What do I need to do?</b></a></dt>
					<dd>
					<font style="font-weight:normal">
					Though we don't want you to stop using Skloop, we won't force you to stay.  In order to stop receiving texts, follow these steps:
					<ul><h4><em>From Web</em></h4>
						<li>Under your "Following" link (on your Profile page), find Skloop and go to its Profile page.</li>
                                                <li> Change Device Updates to "Off".</li>
                                                <li>Alternatively, to stop any text from Twitter to your phone, you can remove your phone as a device under Settings > Devices.</li>
                                                 <h4> <em>From Phone</em> </h4>
						<li>To stop texts from skloop to your phone, text <b>OFF Skloop</b>.</li>
						<li>To stop any text from Twitter to your phone, text <b>STOP</b> to <b>40404</b>.</li>
					</ul>
					<a href="#top"><strong>>> Back to top</strong></a>
 					<br />
					<font>
					</dd>
					<br /><br />
					<dt><a name="improve"><strong>How can I help improve Skloop?</strong></a></dt>
					<dd>
					<font style="font-weight:normal">
					Skloop is maintained primarily by students of the Hyperstream Club at Waukee High School.  Find your local Hyperstream member to find out how the next meeting and see what we're all about.  You may see your changes added to the site!
					<br />										</font>
					<a href="#top"><strong>>> Back to top</strong></a>
					<br />
					</dd>
					<br />
					<dt><a name="other"><strong>I have additional questions...</strong></a></dt>
					<dd><font style="font-weight:normal">
					Still puzzled?  Contact us <%= link_to "Here", contact_path %> or send an email to skloop@waukee.k12.ia.us 
					</font>
					<br />
					<a href="#top"><strong>>> Back to top</strong></a>
					</dd>
					</td></tr></table>
</div></div>
