<div id="main">
<div id="index">
<div id="hpsev">
<h1>Skloop Privacy Policy</h1>
<p><br>
This Privacy Policy describes Skloop's policies and procedures on the collection, use and disclosure of your information.
<br /><br />
<strong>Information Collection and Use </strong><br />
<b>Information Collected Upon Registration:</b>
When you sign up for a Skloop account, you provide some personal information, such as your first name, last name, and school ID. This information is used to, 1) verify that you are who you say you are 2) verify that you are a student of the Waukee Community School District. Your twitter account name is also stored after you have granted Skloop access to your twitter account.
<br />
<b>Cookies: </b>
A "cookie" is a small data text file that is placed in your browser and allows Skloop to recognize you each time you visit this site. Cookies themselves do not contain any personal information, and Skloop does not use cookies to collect personal information.
<br>
<b>Third Party Services:</b> Skloop uses Google Analytics to help understand use of our website. Through Google, Analytics collects the information sent by your browser as part of a web page request, including cookies and your IP address. Google also receives this information and their use of it is governed by their <a href="http://www.google.com/intl/en/privacy.html">Privacy Policy</a>.
<br><br />
<strong>Information Sharing and Disclosure </strong>
<br>
<b>External Sites:</b>
Skloop is not responsible for the content of external internet sites. You are advised to read the privacy policy of external sites before disclosing any personal information.
<br><br><strong>Your Consent:</strong> By using our site, you consent to our privacy policy.<br><br>
<strong>Changes to our Privacy Policy:</strong> 
If the Skloop Development team decide to change this privacy policy, the Privacy Policy modification date below will be updated. If, and when these changes are put into effect, any past, present, and future users are IMMEDIATELY effected and no warning may be presented of the change.  The Skloop Development team is not responsible for any misunderstandings in the Privacy Statement, or the Terms of Use. <br><br>
For any other information, questions, or comments, please email us at <a href='mailto:skloop@waukee.k12.ia.us'>skloop@waukee.k12.ia.us</a>
<br><br>This policy was last modified on 03/03/2010<br>

</div>
</div>
</div>