<div id="main">
<div id="index">
<div id="hpsev">
<h1>Terms Of Service</h1>

<p>These Terms of Service (“Terms”) govern your access to and use of the service and Skloops website (Service) Your access to and use of this Service is conditioned on your acceptance of and compliance with these Terms. By accessing or using this Service you agree to be bound by these Terms. </p><br>

<br />
<h3>Basic Terms </h3>
<p>Must be a member of the Waukee Community School District(parent, student, or teacher). You are responsible for your use of the Service, for any content you post to the Service, and for any consequences thereof. The Content you submit, post, or display will be able to be viewed by others. You should only provide Content that you are comfortable sharing with others under these Terms.</p>
<br />
<h3>Restrictions</h3>
<p>You are responsible for all of your activity in connection with the Services and accessing the Site. You may not post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain password, account, or private information from any Skloop user.</p><br />
<p>
You shall not use any part of the Service to violate the security of any computer network, transfer or store material that is deemed threatening or obscene, or engage in any kind of illegal activity. You shall not use the Service to as a means to spam or otherwise distribute unwanted, un-solicited information.</p>
<br />
<h3> Disclaimer </h3>
<p>Any messages posted using the Skloop system do not neccessarily reflect the views of the Waukee Community School District. The Waukee Community School District is not repsonsible for the content of the messages posted using the Skloop system. Sole responsibility lies with the user who posts the information. </p>

<br />
<p>Waukee High School reserves the right to update and change the Terms of Service from time to time without notice. Any new features that enhance the current Service shall be subject to the Terms. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: http://skloop.waukee.k12.ia.us/terms</p>
</div></div></div>
